NOTE: If you do not specify write month, day and year, the write time is post create
time. <br/>
<div class="field">
  <%= f.label :written_month %>
  <%= f.text_field :write_month %>
</div>
<div class="field">
  <%= f.label :written_day %>
  <%= f.text_field :write_day %>
</div>
<div class="field">
  <%= f.label :written_year %>
  <%= f.text_field :write_year %>
</div>