<%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @micropost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>

  <%= render :partial => "/shared/set_post_write_time", :locals => {:f => f} %>
  <%= render :partial => "/shared/select_subject_for_post", :locals => {:micropost => @micropost }%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
