<%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @micropost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>

  <% if false %>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <% end %>

  <% @micropost.user.subjects.sort{|a, b| a.name <=> b.name}.each do |subject| %>
    <%= check_box_tag  "selected_subject_ids[]", subject.id, @micropost.subjects.include?(subject),
                             :id => "selected_subject_ids_id#{subject.id}"  %>
    <%= subject.name %>
  <% end %>

  <%= hidden_field_tag 'request_url', (params[:request_url] rescue "") %>  <!-- better way? -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
